.PageNotFound-404 {
  font-weight: 700;
  font-size: 288px;

  width: 597px;
  height: 263px;
  margin-top: 169px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ff6060;
}

.PageNotFound-Text {
  font-weight: 500;
  font-size: 36px;

  width: 872px;
  height: 51px;
  margin-top: 66px;

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #ff6060;
}

.PageNotFound-Home {
  font-weight: 500;
  font-size: 18px;

  width: 284px;
  height: 26px;
  margin-top: 182px;

  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;

  color: #ff6060;
}

/* small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .PageNotFound-404 {
    font-size: 96px;

    width: 198px;
    height: 99px;
    margin-top: 195px;
  }

  .PageNotFound-Text {
    font-size: 18px;

    width: 260px;
    height: 52px;
    margin-top: 11px;
  }

  .PageNotFound-Home {
    font-size: 14px;

    width: 221px;
    height: 20px;
    margin-top: 133px;
  }
}

/* medium devices (tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .PageNotFound-404 {
    font-size: 170px;

    width: 230px;
    height: 150px;
    margin-top: 140px;
  }

  .PageNotFound-Text {
    font-size: 24px;

    width: 290px;
    height: 52px;
    margin-top: 11px;
  }

  .PageNotFound-Home {
    font-size: 18px;

    width: 280px;
    height: 20px;
    margin-top: 133px;
    text-align: center;
  }
}
