main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kasa-banner-background {
    background-image: url("../assets/About_background.png");
}

.kasa-banner-title {
    display: none;
}

