main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* medium devices (tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  main {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}
