/* Banner */

.kasa-banner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 223px;
    width: 100%;
    margin-top: 63px;
}

.kasa-banner-background {
    background: #000000;
    border-radius: 25px;

    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.kasa-banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    width: 705px;

    font-size: 48px;
    color: #FFFFFF;

    z-index: 1;
}