/* Banner */

.kasa-banner {

}

.kasa-banner-background {
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;

    background-image: url("../assets/Background-index.png");
}

.kasa-banner-title {
    font-size: 48px;
    color: #FFFFFF;
}