/* Product pages */

.collapse-container {
  position: relative;
  width: 582px;
  margin-top: 24px;
}

.collapse-header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
}

.collapse-header-title {
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 26px;
  margin-left: 20px;

  color: #ffffff;
}

.collapse-header-chevron {
  transform: rotate(-180deg);
  margin-right: 12px;
  width: 26.4px;
  height: 15.56px;
  cursor: pointer;
}

.collapse-content {
  background: #f7f7f7;
  border-radius: 5px;

  overflow: hidden;
  height: 0;
  width: 100%;
  margin-top: 42px;
}

.collapse-content-text {
  font-weight: 400;
  font-size: 18px;
  color: #ff6060;

  margin-top: 40px;
  margin-left: 20px;
  margin-right: 12px;
  margin-bottom: 27px;
}

/* About page */

.about-collapse-container {
  position: relative;
  width: 1023px;
  margin-top: 31px;
}

.about-collapse-header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
}

.about-collapse-header-title {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 34px;
  margin-left: 18.08px;

  color: #ffffff;
}

.about-collapse-header-chevron {
  transform: rotate(-180deg);
  margin-right: 16.08px;
  width: 23.86px;
  height: 14.06px;
}

.about-collapse-content {
  background: #f7f7f7;
  border-radius: 5px;

  overflow: hidden;
  height: 0;
  width: 100%;
  margin-top: 38px;
}

.about-collapse-content-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34.22px;
  color: #ff6060;

  margin-top: 36px;
  margin-left: 18px;
  margin-right: 27px;
  margin-bottom: 19px;
}

/* Same for all pages */

.collapse-header-chevron[collapse="1"],
.about-collapse-header-chevron[collapse="1"] {
  animation: Rotate 600ms ease forwards;
}

.collapse-header-chevron[collapse="0"],
.about-collapse-header-chevron[collapse="0"] {
  animation: RotateBack 600ms ease forwards;
}

.collapse-content[collapse="1"],
.about-collapse-content[collapse="1"] {
  animation: TextAppear 600ms ease forwards;
}

.collapse-content[collapse="0"],
.about-collapse-content[collapse="0"] {
  animation: TextDisappear 600ms ease forwards;
}

/* Keyframes */

@keyframes Rotate {
  from {
    transform: rotate(-180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes RotateBack {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-180deg);
  }
}

@keyframes TextDisappear {
  from {
    height: Auto;
  }

  to {
    height: 0;
  }
}

@keyframes TextAppear {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}

/* Media queries */

/* small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Product pages */

  .collapse-container {
    width: 100%;
    margin-top: 20px;
  }

  .collapse-header {
    border-radius: 5px;
    height: 30px;
  }

  .collapse-header-title {
    font-size: 13px;
    height: 19px;
    margin-left: 11.5px;
  }

  .collapse-header-chevron {
    margin-right: 10px;
    width: 15.2px;
    height: 8.96px;
  }

  .collapse-content {
    width: 100%;
    margin-top: 24px;
  }

  .collapse-content-text {
    font-size: 12px;

    margin-top: 23px;
    margin-left: 11.5px;
    margin-right: 7px;
    margin-bottom: 1px;
  }

  /* About page */

  .about-collapse-container {
    width: 100%;
    margin-top: 19px;
  }

  .about-collapse-header {
    height: 30px;
  }

  .about-collapse-header-title {
    font-size: 13px;
    height: 19px;
    margin-left: 11.5px;
  }

  .about-collapse-header-chevron {
    margin-right: 10px;
    width: 15.2px;
    height: 8.96px;
  }

  .about-collapse-content {
    width: 100%;
    margin-top: 24px;
  }

  .about-collapse-content-text {
    font-size: 12px;

    margin-top: 23px;
    margin-left: 11.5px;
    margin-right: 7px;
  }
}

/* medium devices (tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  /* Product pages */

  .collapse-container {
    width: 100%;
    margin-top: 20px;
  }

  .collapse-header {
    border-radius: 5px;
    height: 30px;
  }

  .collapse-header-title {
    font-size: 13px;
    height: 19px;
    margin-left: 11.5px;
  }

  .collapse-header-chevron {
    margin-right: 10px;
    width: 15.2px;
    height: 8.96px;
  }

  .collapse-content {
    width: 100%;
    margin-top: 24px;
  }

  .collapse-content-text {
    font-size: 12px;

    margin-top: 23px;
    margin-left: 11.5px;
    margin-right: 7px;
    margin-bottom: 1px;
  }

  /* About page */

  .about-collapse-container {
    width: 100%;
    margin-top: 30px;
  }

  .about-collapse-header {
    height: 35px;
  }

  .about-collapse-header-title {
    font-size: 16px;
    height: 19px;
    margin-left: 11.5px;
  }

  .about-collapse-header-chevron {
    margin-right: 10px;
    width: 20px;
    height: 12px;
  }

  .about-collapse-content {
    width: 100%;
    margin-top: 24px;
  }

  .about-collapse-content-text {
    font-size: 16px;

    margin-top: 23px;
    margin-left: 11.5px;
    margin-right: 7px;
  }
}
