.dropdown {
    position: absolute;
    width: 1023px;
    left: 208px;
}

.dropdown-wrap {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FF6060;
    border-radius: 5px;
}

.dropdown-title {
    position: absolute;
    left: 1.77%;

    font-size: 24px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.dropdown i {
    position: absolute;
    right: 42.63%;

    background: #FFFFFF;
    transform: rotate(90deg);

    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.dropdown-text {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 20.65%;
    bottom: 0%;

    background: #F7F7F7;
    border-radius: 5px;
}

.dropdown p {
    position: absolute;
    left: 1.76%;
    right: 2.64%;
    top: 40.22%;
    bottom: 10.33%;

    font-weight: 400;
    font-size: 24px;

    color: #FF6060;
}





@keyframes dropdown {
    from {
        height: 0%;
    }
    75% {
      height: 50%;
    }
  
    to {
      height: 100%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(-90deg);
    }
}