.dropdowns-wrapper {
    width: 1023px;
}

.dropdowns-header {
    display: flex;
    position: relative;
    background: #FF6060;
    border-radius: 5px;
    width: 100%;
    height: 47px;
}

.dropdowns-header-title {
    font-size: 24px;

    display: flex;
    align-items: center;
    width: 23.86px;
    height: 14.06px;
    margin-left: 18.08px;
    margin-bottom: 7.25px;


    color: #FFFFFF;
}

.dropdowns-header-chevron {
    position:relative;
    left: 33.14px;
    bottom: 16.86px;

    background: #FFFFFF;
    transform: rotate(90deg);

    animation-duration: 3s;
    animation-name: collapse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.dropdowns-text {
    background: #F7F7F7;
    border-radius: 5px;
}

.dropdowns p {
    font-weight: 400;
    font-size: 24px;

    color: #FF6060;
}





@keyframes collapse {
    from {
        height: 0%;
    }
    75% {
      height: 50%;
    }
  
    to {
      height: 100%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(-90deg);
    }
}