/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    background: #000000;
    margin-top: 63px;
    left: 0;
    right: 0;
    height: 209px;

}

/* LOGO */

.kasa-footer-logo {
    margin-top: 66px;
    width: 122px;
    height: 39.44px;
}

/* COPYRIGHT */

.kasa-footer-copyright {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 29px;
    width: 513px;
    height: 46px;
}