.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #F7F7F7;
    border-radius: 25px;

    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 25px;
    padding-right: 25px;
}