/* Header */

header {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    margin-right: 6.94%;
    margin-left: 6.94%;
}

/* LOGO */

.kasa-header-logo {
    margin: 0;
}

/* NAV */

.kasa-header-nav {
    width: 310px;
    display: flex;
    align-self: center;
}

.kasa-header-nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}


.kasa-header-nav li {
    width: 45%;
    text-align: right;
}

.kasa-header-nav a {
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}