.kasa-error-404 {
    font-size: 288px;

    text-align: center;

    color: #FF6060;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

}

.kasa-error-text {
    font-size: 36px;

    color: #FF6060;

    position: absolute;
    left: 20.49%;
    right: 18.96%;
    top: 59.18%;
    bottom: 35.84%;
}

.kasa-error-home {
    text-decoration-line: underline;

    font-size: 18px;

    color: #FF6060;

    position: absolute;
    left: 40.14%;
    right: 40.14%;
    top: 81.93%;
    bottom: 15.53%;
}