main {
  position: relative;
}
.Rental-Title {
  font-size: 36px;

  display: flex;
  align-self: flex-start;
  align-items: center;

  color: #ff6060;

  margin-top: 30px;
  height: 51px;
}

.Rental-Location {
  font-size: 18px;

  display: flex;
  align-self: flex-start;
  align-items: center;

  color: #ff6060;

  height: 26px;
}

.Rental-Collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
