.RentDropDowns-Wrapper {
    position: relative;
    width: 582px;
    margin-top: 24px;
}

.RentDropDowns-Header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
}

.RentDropDowns-Header-Title {
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 26px;
    margin-left: 20px;


    color: #FFFFFF;
}

.RentDropDowns-Header-Chevron {
    transform: rotate(-180deg);
    margin-right: 12px;
}

.RentDropDowns-Header-Chevron[collapse='1'] {
    animation: rotate 1s 1 forwards;
}

.RentDropDowns-Text {
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
    background: #F7F7F7;
    border-radius: 10px;

    margin-top: 38px;
    padding-left: 20px;
    padding-right: 12px;
    padding-top: 40px;
    height: 249px;
}

.dropdowns-text[collapse='1'] {
    animation: appear 1s 1 forwards;
}


@keyframes rotate {
    from {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-90deg);
    }
  
    to {
        transform: rotate(0deg);
    }
}

@keyframes appear {

    from {
        transform: scale(0);
    }

    75% {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}