.Renter {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  top: 450px;
  right: 0;
}

.Renter-Name {
  display: flex;
  text-align: right;
  height: 52px;
  margin-right: 10px;

  color: #ff6060;

  font-weight: 500;
  font-size: 18px;

  align-items: center;

  width: 70px;
}

.Renter-Picture {
  height: 64px;
  width: 64px;
  background: #c4c4c4;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
