.Tags {
  display: flex;
  flex-direction: row;
  align-self: baseline;
  margin-top: 20px;
}

.Tags-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6060;
  border-radius: 10px;
  min-width: 115px;
  height: 25px;
  margin-right: 10px;
}

.Tags-Button-Title {
  font-weight: 500;
  font-size: 14px;

  text-align: center;

  color: #ffffff;
}

/* small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Tags {
    margin-top: 10px;
    margin-bottom: 45px;
    flex-wrap: wrap;
  }

  .Tags-Button {
    border-radius: 5px;
    min-width: 84px;
    height: 18px;
  }

  .Tags-Button-Title {
    font-size: 10px;
  }
}

/* medium devices (tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1280px) {
}
